node_modules/
.eslintcache
.dist/
**/dist/
**/.cache/
.cache/
.yarn/sdks
*.wip.*
*.wip/
*.temp.*
*.temp/
temp/
.coverage/
.env
.env.*
.yarn/install-state.gz

# Turborepo
.turbo
.next/
apps/office/test-results
apps/office/data
apps/office/playwright-report
