{
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 115,
  "semi": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "objectWrap": "collapse",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "strict",
  "requirePragma": false,
  "insertPragma": false,
  "checkIgnorePragma": false,
  "proseWrap": "always",
  "plugins": [],
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": true,
  "overrides": [{ "files": ["*.jsonc", "*.json"], "options": { "trailingComma": "none", "printWidth": 80 } }]
}
