{
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 115,
  "semi": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "objectWrap": "preserve",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "always",
  "overrides": [
    { "files": ["*.jsonc", "*.json"], "options": { "trailingComma": "none", "printWidth": 80 } },
    { "files": ["*.md"], "options": { "proseWrap": "never" } }
  ]
}
